 {% extends "otree/Page.html" %}
{% load otree_tags %}

{% block title %}Please read this before clicking "Accept"{% endblock %}

{% block content %}

<p>
    Purpose of this research.
    The purpose of this research is to investigate people's intuitions.
</p>

<p>
    Study Procedures.
    This study involves completing a survey-questionnaire that will take approximately 1-2 minutes. Additionally, you may be selected to participate in a bonus task where you will communicate (via text) in an anonymous chat room with one other participant. We expect this will take an additional 1-2 minutes. You will be paid a bonus of $0.XX if you are selected for the communication task.
</p>

<p>
    Benefit and Risk.
    You will be paid through Amazon Mechanical Turk. This research imposes no more than minimal risk.
</p>

<p>
    Confidentiality.
    All of your responses will be anonymous; no identifying information will be collected in the course of this study. All records from this study will be kept confidential. The research team involved with this study will be the only party that will have access to the information you provide.
</p>

<p>
    Voluntary Participation.
    Participation in this study is completely voluntary. You are free to decline to participate, to end participation at any time for any reason, or to refuse to answer any individual question without penalty.
</p>

<p>
    Questions.
    If you have any questions about this study, you may contact Simon Cullen at scullen@princeton.edu
    If problems arise which you do not feel you can discuss with the Investigator, please contact Princeton University's Institutional Review Board at:

    Office of Research Integrity and Assurance
    Human Research Protection Program
    Assistant Director
    Phone: (609) 258-0865
    Email: irb@princeton.edu
</p>

<p>
    Your participation in this study indicates that:

    -I understand the information that was presented and that:
    -My participation is voluntary, and I may withdraw my consent and discontinue participation in the project at any time.  My refusal to participate will not result in any penalty.
    -I do not waive any legal rights or release Princeton University, its agents, or you from liability for negligence.

    Do you consent to be a part of this research?
</p>

{% endblock %}