{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load render_bundle from webpack_loader %}
{% block title %}
    Please consider the following scenario
{% endblock %}

{% block content %}
    <div id="react-app"></div>
    {% render_bundle 'main' 'js' %}
    <div class="card text-white bg-primary my-3">
        <div class="card-body">
            {% autoescape off %}
                {{ vignette }}
            {% endautoescape %}


        </div>
    </div>
    <br>
    {% formfield player.is_it_knowledge with label=label %}
    {% formfield player.confidence with label="How confident you are in your answer?" %}

    <br><br>
    {% next_button %}
{% endblock %}

{% block scripts %}
      {% render_bundle 'main' 'css' %}
{% endblock %}