{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
    Welcome To Your Chat!
{% endblock %}

{% block content %}

    <p> You are now in a chat room with a person who gave the opposite answer to you.
        Each player should try to convince the other player of his/her answer.
        After debating for (at most) 4 minutes, you will both be given a chance to
        change your original answer. Player 1 should begin by explaining
        his/her answer to Player 2.
        For your reference, here is the original case:
    <p style="border:2px; border-style:solid; border-color:#000000; padding: 1em;">
        {{ vignette }}
        <br><br>
        <b>
            Does Bob know that Jill drives an American car?
        </b>
    </p>
    <br>
    Use this chat box to talk to the other player:
    {% chat %}


    <button class="otree-btn-next btn btn-danger">Finish chat</button>
{%  include 'my_simple_survey/includes/end_chat_modal.html' %}
{% endblock %}

{% block scripts %}
    {%  include 'my_simple_survey/includes/chatcontrolchannel.html' %}
    <script>
        $(function () {
            $('.otree-btn-next').hide();
            var to_show_next =
            {{ min_chat_sec }} *
            1000;
            setTimeout(function () {
                $('.otree-btn-next').show();
            }, to_show_next);
        });
    </script>
{% endblock %}