{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}


{% block title %}
    Welcome To Your Chat!
{% endblock %}

{% block content %}
    <div class="card my-3 text-white bg-primary">
        <div class="card-body">
            {% autoescape off %}
                {{ vignette }}
            {% endautoescape %}
        </div>
    </div>
    <div class="alert alert-info">
    {{ question }}
    </div>
    <div class="card my-3">
        <div class="card-body">
            <h5 class="card-title">Instructions:</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    In the first stage of this study, you responded that
                    <span class="lead font-italic"> "{{ user_answer }}"</span>.
                    In the next stage of this
                    study, you
                    will discuss the question with a participant who responded
                    <span class="lead font-italic"> "{{ another_answer }}"</span>.
                </li>
                <li class="list-group-item">
                    {% autoescape off %}
                        {{ chat_instructions }}
                    {% endautoescape %}
                </li>

            </ul>


        </div>
    </div>



    Use this chat box to talk to the other player:
    <div class="my-3">
        {% chat %}
    </div>

    <button class="otree-btn-next btn btn-danger">Finish chat</button>
    {% include 'my_simple_survey/includes/end_chat_modal.html' %}
{% endblock %}

{% block scripts %}
    {% include 'my_simple_survey/includes/chatcontrolchannel.html' %}
    <script>
        $(function () {
            $('.otree-btn-next').hide();
            var to_show_next =
            {{ min_chat_sec }} *
            1000;
            setTimeout(function () {
                $('.otree-btn-next').show();
            }, to_show_next);
        });
    </script>
{% endblock %}