<script type="text/javascript">
    $(function () {

        var socket;

        initWebSocket();

        function initWebSocket() {
            console.log('JOPA');
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/chatwatcher/group/{{ group.pk }}/participant/{{ participant.code }}/player/{{ player.pk}}";
            socket = new ReconnectingWebSocket(ws_path);
        };
    });



</script>