<!-- Modal -->
<div class="modal fade" id="end_of_chat_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content panel-danger">
      <div class="modal-header panel-heading">

        <h4 class="modal-title" id="myModalLabel">Attention!</h4>
      </div>
      <div class="modal-body">
       <h4>Your partner just left the chat.</h4>
      </div>
      <div class="modal-footer">
          <form action="">
        <button type="submit" class="btn btn-danger">Continue</button>
              </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->